
<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Vagabonding</title>
</head>
<body>
<div id="wrapper">
		<div id="box">
			<h1>Vagabonding</h1>	
		</div>
</div>
<script type="text/javascript">
	$('#wrapper').tubular({videoId: 'ygo5d0UuXB4', start: 26});
</script>
</body>
</html>



