<!DOCTYPE html>
<html>
<head>
	<title>Cities Page</title>
	<style>
		h1 {
			color: black;
		}

		p {
			color: black;
		}

	</style>
</head>
<body>
	<%= render "/show/navbar"  %>
	
	<h1>Places</h1>
	
	<% @places.each do |place| %>

		<div>
			<h3> <%= place.name %> </h3>
		</div>

	<% end %>

</body>
</html>
