<!DOCTYPE html>
<html>	
	<head>
		<title>Cities Page</title>
	<!-- 	// <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&types=sublocality_level_3&key=AIzaSyCEUasyqdiFp-R5rTXA2Qcu2skli91VGvA"></script> -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
		<style>
			h1 {
				color: black;
			}

			p {
				color: black;
			}

		</style>
	</head>
	<body>
		<%= render "/show/navbar"  %>
		
		<h1>Places</h1>

		<!-- Google places search bar -->

		  <div class="col-lg-6">
		    <div class="input-group">
		      <input  type="text" class="form-control" placeholder="Enter a place">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button">Search</button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row --><br>

		<!-- End search bar -->
		
		<% @places.each do |place| %>

			<div>
				<h3> <%= place.name %> </h3>
			</div>

		<% end %>

	</body>
</html>